.ws-container {
    display: flex;

    /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.ws {
    display: flex;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    margin-bottom: 20px;
    height: 100px;
    width: 320px;
    border: 6px;
    border-style: outset;
    border-color: grey;
    box-shadow: 10px 10px 10px #d1d4fa55;
    border-radius: 45px;

}

.wk1 {
    background: radial-gradient(rgb(2, 1, 58) 50%, rgb(95, 87, 129) 70%, rgb(231, 231, 234) 100%);

}

.wk2 {
    background: radial-gradient(rgb(1, 43, 84) 50%, rgb(56, 77, 102) 70%, rgb(231, 231, 234) 100%);
}

.wk3 {
    background: radial-gradient(rgb(1, 79, 114) 50%, rgb(78, 111, 134) 70%, rgb(231, 231, 234) 100%);
}
.wk4 {
    background: radial-gradient(rgb(4, 60, 192) 50%, rgb(114, 143, 221) 70%, rgb(231, 231, 234) 100%);
}

    
    .button:hover, .button:focus {
      
      transform: translateY(-6px);
      
      box-shadow: 15px 15px 15px #d1d4fa55;
    }
    
      button::after {    
       
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
      }

.break {
    flex-basis: 100%;
    height: 0;
    line-height: 1px;
    font-size: 0%;
  }
.middle {
    width: 70%;
}  