#nostyle1 {
    
    width: 100px;
}
#nostyle2 {
    
    width: 100px;
}
#nostyle3 {
    
    width: 100px;
}
.demo1-container {
    display: flex;
    flex-direction: row;
    min-height: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;    
    width: 100%;
    background-color: #303030;
}
.flexA {
    display: flex;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    height: 10px;
    width: 200px;
    border: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}
.flexStyle1 {    
    background-color: red;
}
.flexStyle2 {  
    display: flex;
    flex-grow: 2;  
    background-color: green;
}
.flexStyle3 {    
    background-color: blue;
}