* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url(https://static.wixstatic.com/media/59a075_0836a142070441b9a940e3a31497a8ba~mv2.gif);
    color: white;
    text-align:center;  /* set the look of page body */
 }


h4 {
    background-color: rgb(26, 14, 65);
    width: 40%;
    font-size: 20px;
    color:beige;
    text-align:left;
    margin-left:auto;
    margin-right:auto;   /*parameters for h4*/
}
#intro {
    font-weight: bolder;
    font-size: 100px;
    background-image: url(https://i.gifer.com/3Ayf.gif);
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    border: 5px;
    border-color: blue;
    border-style:solid;  /* set how intro id will look */
}
a:link {color:#798eda}
a:visited {color:rgb(95, 76, 212)}
a:hover {color:rgb(185, 185, 238)}
a:active {color:rgb(23, 139, 139)}  /*set hyperlink colours*/

.lists {
    font-style:italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:deepskyblue;  /* set parameters for lists class */
    padding: 10px ;
}
img {
    padding: 5px;
    border: 5px;
    color: aquamarine;
    border-style: solid;    /* set paramiters for imagaes */
}
hr {
    background-color: blue;
    height: 3px;
    width: 30%;
    border-color:aqua;
}
/* FOOTER */
footer {
    font-size: 20px;
}
