* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(https://thumbs.gfycat.com/GregariousEssentialElver-size_restricted.gif);
    color: white;
    text-align: center;
    margin-top: 0 px;
    top: 0px;
    /* set the look of page body with a background image */
}

.mainNavBar-container {
    display: flex;
    flex-direction: row;
    min-height: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #303030;
}

.mainNavItem {
    display: flex;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    height: 5px;
    width: 100px;
    border: 10px;
    border-radius: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    background: radial-gradient(rgb(7, 7, 8) 40%, rgb(69, 69, 69) 70%, rgb(231, 231, 234) 100%);
}

.MainNavExample {
    display: inline-block;
    background: radial-gradient(rgb(7, 7, 8) 60%, rgb(55, 55, 56) 100%);
    width: 300px;
    font-size: 30px;
    font-family: sans-serif;
}


.bcNavBar-container {
    display: flex;
    min-height: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;

}

.box {
    display: flex;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    height: 10px;
    width: 100px;
    border: 10px;
    flex-grow: 1;
    flex-shrink: 1;

}

.box1 {
    background: radial-gradient(rgb(127, 134, 196) 50%, rgb(236, 236, 240) 100%);
}

.box2 {
    background: radial-gradient(rgb(81, 220, 111) 50%, rgb(236, 236, 240) 100%);
}

.box3 {
    background: radial-gradient(rgb(221, 60, 186) 50%, rgb(236, 236, 240) 100%);
}

.box4 {
    background: radial-gradient(rgb(143, 171, 18) 50%, rgb(236, 236, 240) 100%);
}

.box5 {
    background: radial-gradient(rgb(168, 23, 23) 50%, rgb(236, 236, 240) 100%);
}

.box6 {
    background: radial-gradient(rgb(127, 20, 185) 50%, rgb(236, 236, 240) 100%);
}

.box7 {
    background: radial-gradient(rgb(104, 209, 13) 50%, rgb(236, 236, 240) 100%);
}

.box8 {
    background: radial-gradient(rgb(153, 8, 49) 50%, rgb(236, 236, 240) 100%);
}

.box9 {
    background: radial-gradient(rgb(208, 126, 18) 50%, rgb(236, 236, 240) 100%);
}

.box10 {
    background: radial-gradient(rgb(3, 14, 121) 50%, rgb(236, 236, 240) 100%);
}

.bannertext {
    font-size: 15px;
}

h4 {
    background-color: rgb(26, 14, 65);
    width: 40%;
    font-size: 20px;
    color: beige;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    /*parameters for h4*/
}

#intro {
    font-weight: bolder;
    font-size: 70px;
    background-image: url(https://i.gifer.com/3Ayf.gif);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 65%;
    border: 5px;
    border-color: rgb(123, 123, 212);
    border-style: solid;
    border-radius: 50px;
    box-shadow: 10px 10px 10px #d1d4fa55;
    /* set how title banner will look */
}

a.boxlink {
    text-shadow: -1px -1px #000000;
}

a.boxlink:link {
    color: #ffffff;
    text-decoration: none;
}

a.boxlink:visited {
    color: rgb(229, 220, 240);
    text-decoration: none;
}

a.boxlink:hover {
    color: rgb(210, 209, 237);
    text-decoration: none;
    transform: scale3d(1.2, 1.2, 3);
}

a.boxlink:active {
    color: rgb(241, 171, 171);
    text-decoration: none;
}

a:link {
    color: #798eda
}

a:visited {
    color: rgb(174, 165, 232)
}

a:hover {
    color: rgb(185, 185, 238)
}

a:active {
    color: rgb(23, 139, 139)
}

/*set hyperlink colours, including when visited, pointer hover over and then pressed */

.lists {
    width: 30%;
    font-size: 20px;
    text-align: left;
    margin: auto;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: deepskyblue;
    padding: 10px;
    border: 1px solid aquamarine;
    background: radial-gradient(rgb(11, 31, 206) 50%, rgb(125, 125, 187) 100%);
    box-shadow: 10px 10px 10px #7FFFD455;
    border-radius: 25px;
    /* set parameters for lists class */
}

img {

    border: 10px solid #fff;
    background: white;
    box-shadow: 10px 10px 5px #EEEEEE75;
    border-radius: 25px;
    /* set paramiters for imagaes */
}

hr {
    background-color: blue;
    height: 3px;
    width: 30%;
    border-color: aqua;
}

.lineshadow {
    border: 1px solid aquamarine;
    background: blue;
    box-shadow: 5px 5px 5px #7FFFD455;
    border-radius: 50px;
    /* set parameters for a seperating line */
}

.sidebysideL {
    display: inline-block;
    text-align: left;
    width: 30%;
    font-size: 20px;
    margin: auto;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: deepskyblue;
    padding: 10px;
    border: 1px solid aquamarine;
    background: radial-gradient(rgb(11, 31, 206) 50%, rgb(125, 125, 187) 100%);
    box-shadow: 10px 10px 10px #7FFFD455;
    border-radius: 25px;
    /* set parameters for sidebyside class (same as lists but puts blocks sibe by side */
}

.sidebysideR {
    display: inline-block;
    text-align: left;
    width: 30%;
    font-size: 20px;
    margin-left: 40px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(190, 241, 223);
    padding: 10px;
    border: 1px solid rgb(3, 95, 7);
    background: radial-gradient(rgb(3, 119, 19) 50%, rgb(200, 243, 204) 100%);
    box-shadow: 10px 10px 10px #93d49855;
    border-radius: 25px;
    /* set parameters for sidebyside class (same as lists but puts blocks sibe by side */
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background: radial-gradient(rgb(0, 33, 244) 50%, rgb(200, 243, 204) 100%);
    border: none;
    border-radius: 15px;
    box-shadow: 10px 9px 10px #83c7d6;
}

.button:hover {
    background: radial-gradient(rgb(21, 46, 210) 50%, rgb(200, 243, 204) 100%);
    /* slight change in colour when pointer hovers over button */
}

.button:active {
    background-color: rgb(0, 33, 244);
    box-shadow: 0 5px 10px #83c7d6;
    transform: translateY(4px);
    /* moves the button when pressed */
}

.result {
    display: block;
    padding: 15px 15px;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    width: 70%;
    color: #000000;
    background: radial-gradient(rgb(241, 242, 244) 50%, rgb(23, 24, 23) 100%);
    border: none;
    border-radius: 25px;
    box-shadow: 10px 9px 10px #83c7d6;
}

/* FOOTER */
footer {
    font-size: 20px;
}